<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--    카카오맵 api-->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0d9d093d51b30a990dd9be3a96f630ff"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0d9d093d51b30a990dd9be3a96f630ff&libraries=services,clusterer,drawing"></script>
    <script rel="stylesheet" src="/static/css/test.css"></script>

    <script>
        $(document).ready(function () {
        })

        function getLocation() {
            // 현재위치의 좌표값을 가져옵니다.
            navigator.geolocation.getCurrentPosition(function (position) {
                let latitude = position.coords.latitude;
                let longitude = position.coords.longitude;
                let container = document.getElementById('map');

                // 지도를 생성합니다.
                let map = new kakao.maps.Map(container, {
                    center: new kakao.maps.LatLng(latitude, longitude),
                    level: 5
                });

                // 마커가 표시될 위치입니다.
                let markerPosition = new kakao.maps.LatLng(latitude, longitude)

                // 마커를 생성합니다.
                let marker = new kakao.maps.Marker({
                    position: markerPosition
                });

                // 마커를 지도위에 표시합니다.
                marker.setMap(map);

                // 마커를 클릭했을 때 마커 위에 표시할 윈도우를 생성합니다.
                var infowindow = new kakao.maps.InfoWindow({
                    content: `<div>hello</div>`,
                    removable: true
                })

                // 클릭 시 infowindow를 표시합니다.
                kakao.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                })
            }, function (error) {
                console.error(error);
            })
        }

        getLocation();
    </script>
</head>
<body>
<div id="map" style="width:1600px;height:900px;"></div>

</body>
</html>