<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카카오맵테스트</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--    폰트-->
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Poor+Story&display=swap" rel="stylesheet">

    <!--    카카오맵 api-->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0d9d093d51b30a990dd9be3a96f630ff&libraries=services,clusterer,drawing"></script>


    <link rel="stylesheet" href="/static/css/test.css"/>
    <script rel="script" src="/static/js/test.js"></script>

</head>
<body>
<div class="main-container flex-row" style="justify-content: start!important;">
    <div class="side-navi flex-column">
        <div class="flex-row">
            목록 첫번째
        </div>
        <div class="flex-row">
            목록 두번째
        </div>
        <div class="flex-row">
            목록 세번째
        </div>

        <button class="positive-btn">로그인</button>
    </div>
    <div class="map-container flex-column">
        <h1>Mountain View</h1>
        <div id="map" style="width:1200px;height:800px;"></div>
    </div>
</div>


</body>
</html>